astropy-helpers
astropy
numpy
matplotlib
https://github.com/pyspeckit/pyspeckit.git
https://github.com/radio-astro-tools/spectral-cube.git
https://github.com/lmfit/lmfit-py.git
https://github.com/tqdm/tqdm.git
sphinx-astropy
sphinx-bootstrap-theme
